<a href="https://colab.research.google.com/github/habibaelgendy/Thesis/blob/main/Habiba_Copy_of_random_forest_thesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline
plt.style.use("seaborn")

df = pd.read_csv('https://raw.githubusercontent.com/habibaelgendy/Thesis/main/Updated%20responses%20-%20Copy.csv')

df.head()

<ipython-input-130-dadf6e4726b0>:8: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn")

,Timestamp,Age,Gender,Nationality,High_School_System,High_School_Grade,Economic_Status,Scholarship,Attendance,Failed_Courses,...,Teacher_Knowledge,Teacher_Self_Motivation,Teacher_Self_Confidence,Teacher_Openness,Fear_Of_Failure,Working_Hard,Pass_Course,Avoiding_Punishment,Rewards,University_System
0,3/26/2023 17:46,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,Yes,>60%,0,...,4,Yes,Yes,No,4,5,3,3,4,NaN
1,3/26/2023 17:48,18-24 years old,Female,Egyptian,IGCSE,65%-69%,High,No,>40%,0,...,3,No,Yes,No,3,3,3,3,3,NaN
2,3/27/2023 19:05,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,No,>80%,0,...,2,Yes,No,No,5,5,5,2,5,NaN
3,3/27/2023 19:06,18-24 years old,Female,egyptian,IGCSE,90%-100%,Medium,No,>80%,3,...,4,No,Yes,No,4,4,5,1,4,NaN
4,3/27/2023 19:07,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,No,>80%,0,...,4,Yes,Yes,Yes,5,5,2,2,4,NaN

In [131]:
#Dropping columns
df = df.drop("Timestamp", axis='columns')
df = df.drop("GPA", axis='columns')
df = df.drop("Rank", axis='columns')
df = df.drop("University_System", axis='columns')
df

,Age,Gender,Nationality,High_School_System,High_School_Grade,Economic_Status,Scholarship,Attendance,Failed_Courses,Grade,...,School_Belongingness,Teacher_Knowledge,Teacher_Self_Motivation,Teacher_Self_Confidence,Teacher_Openness,Fear_Of_Failure,Working_Hard,Pass_Course,Avoiding_Punishment,Rewards
0,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,Yes,>60%,0,A+,...,Yes,4,Yes,Yes,No,4,5,3,3,4
1,18-24 years old,Female,Egyptian,IGCSE,65%-69%,High,No,>40%,0,A+,...,Yes,3,No,Yes,No,3,3,3,3,3
2,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,No,>80%,0,B+,...,Yes,2,Yes,No,No,5,5,5,2,5
3,18-24 years old,Female,egyptian,IGCSE,90%-100%,Medium,No,>80%,3,B-,...,No,4,No,Yes,No,4,4,5,1,4
4,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,No,>80%,0,A,...,Yes,4,Yes,Yes,Yes,5,5,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,Yes,> 80%,1,B,...,Yes,3,Yes,Yes,Yes,4,4,4,4,5
184,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,Yes,> 80%,0,A,...,Yes,4,No,Yes,No,5,4,1,1,3
185,18-24 years old,Female,Egyptian/ Japanese,IGCSE,90%-100%,Medium,No,> 80%,0,B-,...,Yes,4,No,No,No,4,3,4,1,4
186,18-24 years old,Male,Egyptian,Thanaweya Amma,90%-100%,Medium,No,> 80%,0,A-,...,Yes,5,Yes,Yes,No,5,4,2,2,4
187,18-24 years old,Male,Egyptian,IGCSE,90%-100%,High,No,> 80%,0,A-,...,No,1,No,Yes,No,3,3,4,1,2

In [132]:
#Knowing the number of unique values and what are they in the columns.
for column in df.columns:
    print(f"{column}: Number of unique values {df[column].nunique()}")
    print("==========================================================")
categorical_col = []
for column in df.columns:
    if df[column].dtype == object:
        categorical_col.append(column)
        print(f"{column} : {df[column].unique()}")
        print("====================================")

df

Age: Number of unique values 4
==========================================================
Gender : Number of unique values 2
==========================================================
Nationality: Number of unique values 13
==========================================================
High_School_System: Number of unique values 10
==========================================================
High_School_Grade: Number of unique values 5
==========================================================
Economic_Status: Number of unique values 2
==========================================================
Scholarship: Number of unique values 2
==========================================================
Attendance: Number of unique values 6
==========================================================
Failed_Courses: Number of unique values 14
==========================================================
Grade: Number of unique values 10
==========================================================
Extroversion: Number of unique values 5
==========================================================
Calmness: Number of unique values 5
==========================================================
Failure_Tolerance: Number of unique values 5
==========================================================
Self_Confidence: Number of unique values 5
==========================================================
Procrastination: Number of unique values 5
==========================================================
Self_Motivation : Number of unique values 5
==========================================================
Peer_Pressure: Number of unique values 5
==========================================================
Group_Study: Number of unique values 2
==========================================================
Peer_Support: Number of unique values 2
==========================================================
Teacher_Support: Number of unique values 2
==========================================================
Teacher_Closeness: Number of unique values 5
==========================================================
School_Belongingness: Number of unique values 2
==========================================================
Teacher_Knowledge: Number of unique values 5
==========================================================
Teacher_Self_Motivation: Number of unique values 2
==========================================================
Teacher_Self_Confidence: Number of unique values 2
==========================================================
Teacher_Openness: Number of unique values 2
==========================================================
Fear_Of_Failure: Number of unique values 5
==========================================================
Working_Hard: Number of unique values 5
==========================================================
Pass_Course: Number of unique values 5
==========================================================
Avoiding_Punishment: Number of unique values 5
==========================================================
Rewards: Number of unique values 5
==========================================================
Age : ['18-24 years old' '25-35 years old' 'above 35' 'under 18']
====================================
Gender  : ['Female' 'Male']
====================================
Nationality : ['Egyptian' 'Egyptian ' 'egyptian' 'Egypt' 'egyptian ' 'Egyptain '
 'Egyption ' 'Egypt ' 'Croatian' 'Saudi Arabia ' 'Dutch' 'Indian'
 'Egyptian/ Japanese ']
====================================
High_School_System : ['IGCSE' 'Thanaweya Amma' 'SAT' 'French Baccalaureate'
 'French Baccalaureat' 'Internacional Baccalaureate ' 'Abitur'
 'Saudi Arabian curriculum ' 'American Diploma' 'IB']
====================================
High_School_Grade : ['90%-100%' '65%-69%' '80%-89%' '70%-79%' 'under 65%']
====================================
Economic_Status : ['Medium' 'High']
====================================
Scholarship : ['Yes' 'No']
====================================
Attendance : ['>60%' '>40%' '>80%' '> 80%' '> 60%' '> 40%']
====================================
Failed_Courses : ['0' '3' '1' '10' 'None' '7' 'Zero' '2' 'none' '8' '4' '16' 'None ' 'One']
====================================
Grade : ['A+' 'B+' 'B-' 'A' 'A-' 'C' 'B' 'C+' nan 'D' 'C-']
====================================
Group_Study : ['No' 'Yes']
====================================
Peer_Support : ['Yes' 'No']
====================================
Teacher_Support : ['No' 'Yes']
====================================
School_Belongingness : ['Yes' 'No']
====================================
Teacher_Self_Motivation : ['Yes' 'No']
====================================
Teacher_Self_Confidence : ['Yes' 'No']
====================================
Teacher_Openness : ['No' 'Yes']
====================================

,Age,Gender,Nationality,High_School_System,High_School_Grade,Economic_Status,Scholarship,Attendance,Failed_Courses,Grade,...,School_Belongingness,Teacher_Knowledge,Teacher_Self_Motivation,Teacher_Self_Confidence,Teacher_Openness,Fear_Of_Failure,Working_Hard,Pass_Course,Avoiding_Punishment,Rewards
0,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,Yes,>60%,0,A+,...,Yes,4,Yes,Yes,No,4,5,3,3,4
1,18-24 years old,Female,Egyptian,IGCSE,65%-69%,High,No,>40%,0,A+,...,Yes,3,No,Yes,No,3,3,3,3,3
2,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,No,>80%,0,B+,...,Yes,2,Yes,No,No,5,5,5,2,5
3,18-24 years old,Female,egyptian,IGCSE,90%-100%,Medium,No,>80%,3,B-,...,No,4,No,Yes,No,4,4,5,1,4
4,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,No,>80%,0,A,...,Yes,4,Yes,Yes,Yes,5,5,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,Yes,> 80%,1,B,...,Yes,3,Yes,Yes,Yes,4,4,4,4,5
184,18-24 years old,Female,Egyptian,IGCSE,90%-100%,Medium,Yes,> 80%,0,A,...,Yes,4,No,Yes,No,5,4,1,1,3
185,18-24 years old,Female,Egyptian/ Japanese,IGCSE,90%-100%,Medium,No,> 80%,0,B-,...,Yes,4,No,No,No,4,3,4,1,4
186,18-24 years old,Male,Egyptian,Thanaweya Amma,90%-100%,Medium,No,> 80%,0,A-,...,Yes,5,Yes,Yes,No,5,4,2,2,4
187,18-24 years old,Male,Egyptian,IGCSE,90%-100%,High,No,> 80%,0,A-,...,No,1,No,Yes,No,3,3,4,1,2

In [133]:
#Replacing the values

df['Attendance'] = df['Attendance'].str.replace('>','')
df['Attendance'] = df['Attendance'].str.replace('%','').astype(float)
df['Attendance'] = (df['Attendance'] / 100).round(2)
df['High_School_System'] = df['High_School_System'].str.replace('French Baccalaureate','French Baccalaureat')
df['Nationality']=df['Nationality'].replace(to_replace=["Egyptian ", "egyptian", "Egypt", "egyptian ", "Egyptain ", "Egyption ", "Egypt ", "Egyptian/ Japanese "], value="Egyptian" )
df['Failed_Courses']=df['Failed_Courses'].replace(to_replace=["None", "Zero", "none", "None "], value="0" )
df['Failed_Courses']=df['Failed_Courses'].replace(to_replace=["One"], value="1" )
df['High_School_Grade']=df['High_School_Grade'].replace(to_replace=["90%-100%"], value="0.95" )
df['High_School_Grade']=df['High_School_Grade'].replace(to_replace=["65%-69%"], value="0.67" )
df['High_School_Grade']=df['High_School_Grade'].replace(to_replace=["80%-89%"], value="0.845" )
df['High_School_Grade']=df['High_School_Grade'].replace(to_replace=["70%-79%"], value="0.745" )
df['High_School_Grade']=df['High_School_Grade'].replace(to_replace=["under 65%"], value="0.60" )
df['High_School_Grade']=df['High_School_Grade'].astype(float)
df['Failed_Courses']=df['Failed_Courses'].astype(int)
df['Age']=df['Age'].replace(to_replace=["18-24 years old"], value="18-24" )
df['Age']=df['Age'].replace(to_replace=["25-35 years old"], value="25-35" )


df

,Age,Gender,Nationality,High_School_System,High_School_Grade,Economic_Status,Scholarship,Attendance,Failed_Courses,Grade,...,School_Belongingness,Teacher_Knowledge,Teacher_Self_Motivation,Teacher_Self_Confidence,Teacher_Openness,Fear_Of_Failure,Working_Hard,Pass_Course,Avoiding_Punishment,Rewards
0,18-24,Female,Egyptian,IGCSE,0.95,Medium,Yes,0.6,0,A+,...,Yes,4,Yes,Yes,No,4,5,3,3,4
1,18-24,Female,Egyptian,IGCSE,0.67,High,No,0.4,0,A+,...,Yes,3,No,Yes,No,3,3,3,3,3
2,18-24,Female,Egyptian,IGCSE,0.95,Medium,No,0.8,0,B+,...,Yes,2,Yes,No,No,5,5,5,2,5
3,18-24,Female,Egyptian,IGCSE,0.95,Medium,No,0.8,3,B-,...,No,4,No,Yes,No,4,4,5,1,4
4,18-24,Female,Egyptian,IGCSE,0.95,Medium,No,0.8,0,A,...,Yes,4,Yes,Yes,Yes,5,5,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,18-24,Female,Egyptian,IGCSE,0.95,Medium,Yes,0.8,1,B,...,Yes,3,Yes,Yes,Yes,4,4,4,4,5
184,18-24,Female,Egyptian,IGCSE,0.95,Medium,Yes,0.8,0,A,...,Yes,4,No,Yes,No,5,4,1,1,3
185,18-24,Female,Egyptian,IGCSE,0.95,Medium,No,0.8,0,B-,...,Yes,4,No,No,No,4,3,4,1,4
186,18-24,Male,Egyptian,Thanaweya Amma,0.95,Medium,No,0.8,0,A-,...,Yes,5,Yes,Yes,No,5,4,2,2,4
187,18-24,Male,Egyptian,IGCSE,0.95,High,No,0.8,0,A-,...,No,1,No,Yes,No,3,3,4,1,2

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      188 non-null    object
 1   Gender                   188 non-null    object
 2   Nationality              188 non-null    object
 3   High_School_System       188 non-null    object
 4   High_School_Grade        188 non-null    float64
 5   Economic_Status          188 non-null    object
 6   Scholarship              188 non-null    object
 7   Attendance               188 non-null    float64
 8   Failed_Courses           188 non-null    int64
 9   Grade                    182 non-null    object
 10  Extroversion             188 non-null    int64
 11  Calmness                 188 non-null    int64
 12  Failure_Tolerance        188 non-null    int64
 13  Self_Confidence          188 non-null    int64
 14  Procrastination          188 non-null    int64
 15  Self_Motivation          188 non-null    int64
 16  Peer_Pressure            188 non-null    int64
 17  Group_Study              188 non-null    object
 18  Peer_Support             188 non-null    object
 19  Teacher_Support          188 non-null    object
 20  Teacher_Closeness        188 non-null    int64
 21  School_Belongingness     188 non-null    object
 22  Teacher_Knowledge        188 non-null    int64
 23  Teacher_Self_Motivation  188 non-null    object
 24  Teacher_Self_Confidence  188 non-null    object
 25  Teacher_Openness         188 non-null    object
 26  Fear_Of_Failure          188 non-null    int64
 27  Working_Hard             188 non-null    int64
 28  Pass_Course              188 non-null    int64
 29  Avoiding_Punishment      188 non-null    int64
 30  Rewards                  188 non-null    int64
dtypes: float64(2), int64(15), object(14)
memory usage: 45.7+ KB

In [135]:
df.isnull().sum()

Age                        0
Gender                     0
Nationality                0
High_School_System         0
High_School_Grade          0
Economic_Status            0
Scholarship                0
Attendance                 0
Failed_Courses             0
Grade                      6
Extroversion               0
Calmness                   0
Failure_Tolerance          0
Self_Confidence            0
Procrastination            0
Self_Motivation            0
Peer_Pressure              0
Group_Study                0
Peer_Support               0
Teacher_Support            0
Teacher_Closeness          0
School_Belongingness       0
Teacher_Knowledge          0
Teacher_Self_Motivation    0
Teacher_Self_Confidence    0
Teacher_Openness           0
Fear_Of_Failure            0
Working_Hard               0
Pass_Course                0
Avoiding_Punishment        0
Rewards                    0
dtype: int64

In [136]:
df = df.dropna()

In [137]:
df.isnull().sum()

Age                        0
Gender                     0
Nationality                0
High_School_System         0
High_School_Grade          0
Economic_Status            0
Scholarship                0
Attendance                 0
Failed_Courses             0
Grade                      0
Extroversion               0
Calmness                   0
Failure_Tolerance          0
Self_Confidence            0
Procrastination            0
Self_Motivation            0
Peer_Pressure              0
Group_Study                0
Peer_Support               0
Teacher_Support            0
Teacher_Closeness          0
School_Belongingness       0
Teacher_Knowledge          0
Teacher_Self_Motivation    0
Teacher_Self_Confidence    0
Teacher_Openness           0
Fear_Of_Failure            0
Working_Hard               0
Pass_Course                0
Avoiding_Punishment        0
Rewards                    0
dtype: int64

In [138]:
df['Age'] = pd.Categorical(df['Age'], 
                                      categories=['below 18', '18-24', '25-35', 'above 35'], 
                                      ordered=True)
df['Economic_Status'] = pd.Categorical(df['Economic_Status'], 
                                      categories=['Low', 'Medium', 'High'], 
                                      ordered=True)

<ipython-input-138-62fbe0107c56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = pd.Categorical(df['Age'],
<ipython-input-138-62fbe0107c56>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Economic_Status'] = pd.Categorical(df['Economic_Status'],

label encoding

In [139]:
df_encoded = df.copy()
df_encoded['Age'] = df_encoded['Age'].cat.codes
df_encoded['Economic_Status'] = df_encoded['Economic_Status'].cat.codes

df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 0 to 187
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      182 non-null    int8
 1   Gender                   182 non-null    object
 2   Nationality              182 non-null    object
 3   High_School_System       182 non-null    object
 4   High_School_Grade        182 non-null    float64
 5   Economic_Status          182 non-null    int8
 6   Scholarship              182 non-null    object
 7   Attendance               182 non-null    float64
 8   Failed_Courses           182 non-null    int64
 9   Grade                    182 non-null    object
 10  Extroversion             182 non-null    int64
 11  Calmness                 182 non-null    int64
 12  Failure_Tolerance        182 non-null    int64
 13  Self_Confidence          182 non-null    int64
 14  Procrastination          182 non-null    int64
 15  Self_Motivation          182 non-null    int64
 16  Peer_Pressure            182 non-null    int64
 17  Group_Study              182 non-null    object
 18  Peer_Support             182 non-null    object
 19  Teacher_Support          182 non-null    object
 20  Teacher_Closeness        182 non-null    int64
 21  School_Belongingness     182 non-null    object
 22  Teacher_Knowledge        182 non-null    int64
 23  Teacher_Self_Motivation  182 non-null    object
 24  Teacher_Self_Confidence  182 non-null    object
 25  Teacher_Openness         182 non-null    object
 26  Fear_Of_Failure          182 non-null    int64
 27  Working_Hard             182 non-null    int64
 28  Pass_Course              182 non-null    int64
 29  Avoiding_Punishment      182 non-null    int64
 30  Rewards                  182 non-null    int64
dtypes: float64(2), int64(15), int8(2), object(12)
memory usage: 43.0+ KB

In [140]:
df = df.drop("High_School_System", axis='columns')
df = df.drop("High_School_Grade", axis='columns')
df = df.drop("Economic_Status", axis='columns')
df = df.drop("Scholarship", axis='columns')
df

,Age,Gender,Nationality,Attendance,Failed_Courses,Grade,Extroversion,Calmness,Failure_Tolerance,Self_Confidence,...,School_Belongingness,Teacher_Knowledge,Teacher_Self_Motivation,Teacher_Self_Confidence,Teacher_Openness,Fear_Of_Failure,Working_Hard,Pass_Course,Avoiding_Punishment,Rewards
0,18-24,Female,Egyptian,0.6,0,A+,4,4,5,5,...,Yes,4,Yes,Yes,No,4,5,3,3,4
1,18-24,Female,Egyptian,0.4,0,A+,1,2,2,1,...,Yes,3,No,Yes,No,3,3,3,3,3
2,18-24,Female,Egyptian,0.8,0,B+,4,3,2,3,...,Yes,2,Yes,No,No,5,5,5,2,5
3,18-24,Female,Egyptian,0.8,3,B-,2,5,5,4,...,No,4,No,Yes,No,4,4,5,1,4
4,18-24,Female,Egyptian,0.8,0,A,4,3,2,3,...,Yes,4,Yes,Yes,Yes,5,5,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,18-24,Female,Egyptian,0.8,1,B,4,4,4,3,...,Yes,3,Yes,Yes,Yes,4,4,4,4,5
184,18-24,Female,Egyptian,0.8,0,A,3,2,2,4,...,Yes,4,No,Yes,No,5,4,1,1,3
185,18-24,Female,Egyptian,0.8,0,B-,3,4,4,3,...,Yes,4,No,No,No,4,3,4,1,4
186,18-24,Male,Egyptian,0.8,0,A-,4,3,4,2,...,Yes,5,Yes,Yes,No,5,4,2,2,4
187,18-24,Male,Egyptian,0.8,0,A-,5,5,3,4,...,No,1,No,Yes,No,3,3,4,1,2

In [141]:
categorical_col.remove('Grade')

In [142]:
df_encoded = pd.get_dummies(df_encoded, columns=categorical_col)
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 0 to 187
Data columns (total 70 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Grade                                            182 non-null    object
 1   Extroversion                                     182 non-null    int64
 2   Calmness                                         182 non-null    int64
 3   Failure_Tolerance                                182 non-null    int64
 4   Self_Confidence                                  182 non-null    int64
 5   Procrastination                                  182 non-null    int64
 6   Self_Motivation                                  182 non-null    int64
 7   Peer_Pressure                                    182 non-null    int64
 8   Teacher_Closeness                                182 non-null    int64
 9   Teacher_Knowledge                                182 non-null    int64
 10  Fear_Of_Failure                                  182 non-null    int64
 11  Working_Hard                                     182 non-null    int64
 12  Pass_Course                                      182 non-null    int64
 13  Avoiding_Punishment                              182 non-null    int64
 14  Rewards                                          182 non-null    int64
 15  Age_-1                                           182 non-null    uint8
 16  Age_1                                            182 non-null    uint8
 17  Age_2                                            182 non-null    uint8
 18  Age_3                                            182 non-null    uint8
 19  Gender _Female                                   182 non-null    uint8
 20  Gender _Male                                     182 non-null    uint8
 21  Nationality_Croatian                             182 non-null    uint8
 22  Nationality_Dutch                                182 non-null    uint8
 23  Nationality_Egyptian                             182 non-null    uint8
 24  Nationality_Indian                               182 non-null    uint8
 25  Nationality_Saudi Arabia                         182 non-null    uint8
 26  High_School_System_Abitur                        182 non-null    uint8
 27  High_School_System_American Diploma              182 non-null    uint8
 28  High_School_System_French Baccalaureat           182 non-null    uint8
 29  High_School_System_IB                            182 non-null    uint8
 30  High_School_System_IGCSE                         182 non-null    uint8
 31  High_School_System_Internacional Baccalaureate   182 non-null    uint8
 32  High_School_System_SAT                           182 non-null    uint8
 33  High_School_System_Saudi Arabian curriculum      182 non-null    uint8
 34  High_School_System_Thanaweya Amma                182 non-null    uint8
 35  High_School_Grade_0.6                            182 non-null    uint8
 36  High_School_Grade_0.67                           182 non-null    uint8
 37  High_School_Grade_0.745                          182 non-null    uint8
 38  High_School_Grade_0.845                          182 non-null    uint8
 39  High_School_Grade_0.95                           182 non-null    uint8
 40  Economic_Status_1                                182 non-null    uint8
 41  Economic_Status_2                                182 non-null    uint8
 42  Scholarship_No                                   182 non-null    uint8
 43  Scholarship_Yes                                  182 non-null    uint8
 44  Attendance_0.4                                   182 non-null    uint8
 45  Attendance_0.6                                   182 non-null    uint8
 46  Attendance_0.8                                   182 non-null    uint8
 47  Failed_Courses_0                                 182 non-null    uint8
 48  Failed_Courses_1                                 182 non-null    uint8
 49  Failed_Courses_2                                 182 non-null    uint8
 50  Failed_Courses_3                                 182 non-null    uint8
 51  Failed_Courses_4                                 182 non-null    uint8
 52  Failed_Courses_7                                 182 non-null    uint8
 53  Failed_Courses_8                                 182 non-null    uint8
 54  Failed_Courses_10                                182 non-null    uint8
 55  Failed_Courses_16                                182 non-null    uint8
 56  Group_Study_No                                   182 non-null    uint8
 57  Group_Study_Yes                                  182 non-null    uint8
 58  Peer_Support_No                                  182 non-null    uint8
 59  Peer_Support_Yes                                 182 non-null    uint8
 60  Teacher_Support_No                               182 non-null    uint8
 61  Teacher_Support_Yes                              182 non-null    uint8
 62  School_Belongingness_No                          182 non-null    uint8
 63  School_Belongingness_Yes                         182 non-null    uint8
 64  Teacher_Self_Motivation_No                       182 non-null    uint8
 65  Teacher_Self_Motivation_Yes                      182 non-null    uint8
 66  Teacher_Self_Confidence_No                       182 non-null    uint8
 67  Teacher_Self_Confidence_Yes                      182 non-null    uint8
 68  Teacher_Openness_No                              182 non-null    uint8
 69  Teacher_Openness_Yes                             182 non-null    uint8
dtypes: int64(14), object(1), uint8(55)
memory usage: 32.5+ KB

In [143]:
df_encoded.drop(['Gender _Female', 'Economic_Status_2', 'Scholarship_No', 'Group_Study_No', 'Peer_Support_No', 'Teacher_Support_No',
                 'School_Belongingness_No', 'Teacher_Self_Motivation_No', 'Teacher_Self_Confidence_No', 'Teacher_Openness_No'], axis='columns', inplace=True)
df_encoded.columns

Index(['Grade', 'Extroversion', 'Calmness', 'Failure_Tolerance',
       'Self_Confidence', 'Procrastination', 'Self_Motivation ',
       'Peer_Pressure', 'Teacher_Closeness', 'Teacher_Knowledge',
       'Fear_Of_Failure', 'Working_Hard', 'Pass_Course', 'Avoiding_Punishment',
       'Rewards', 'Age_-1', 'Age_1', 'Age_2', 'Age_3', 'Gender _Male',
       'Nationality_Croatian', 'Nationality_Dutch', 'Nationality_Egyptian',
       'Nationality_Indian', 'Nationality_Saudi Arabia ',
       'High_School_System_Abitur', 'High_School_System_American Diploma',
       'High_School_System_French Baccalaureat', 'High_School_System_IB',
       'High_School_System_IGCSE',
       'High_School_System_Internacional Baccalaureate ',
       'High_School_System_SAT',
       'High_School_System_Saudi Arabian curriculum ',
       'High_School_System_Thanaweya Amma', 'High_School_Grade_0.6',
       'High_School_Grade_0.67', 'High_School_Grade_0.745',
       'High_School_Grade_0.845', 'High_School_Grade_0.95',
       'Economic_Status_1', 'Scholarship_Yes', 'Attendance_0.4',
       'Attendance_0.6', 'Attendance_0.8', 'Failed_Courses_0',
       'Failed_Courses_1', 'Failed_Courses_2', 'Failed_Courses_3',
       'Failed_Courses_4', 'Failed_Courses_7', 'Failed_Courses_8',
       'Failed_Courses_10', 'Failed_Courses_16', 'Group_Study_Yes',
       'Peer_Support_Yes', 'Teacher_Support_Yes', 'School_Belongingness_Yes',
       'Teacher_Self_Motivation_Yes', 'Teacher_Self_Confidence_Yes',
       'Teacher_Openness_Yes'],
      dtype='object')

In [144]:
# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image
import graphviz

In [145]:
# Split the data into features (X) and target (y)
X = df_encoded.drop('Grade', axis=1)
y = df_encoded['Grade']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

rf = RandomForestClassifier()
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.1891891891891892

In [146]:
# Export the first three decision trees from the forest

for i in range(3):
    tree = rf.estimators_[i]
    dot_data = export_graphviz(tree,
                               feature_names=X_train.columns,  
                               filled=True,  
                               max_depth=2, 
                               impurity=False, 
                               proportion=True)
    graph = graphviz.Source(dot_data)
    display(graph)